polybar/forest/
polybar/pwidgets/
polybar/cuts/
polybar/colorblocks/
polybar/docky/
polybar/panels/
polybar/shades/
polybar/shapes/
polybar/blocks/
polybar/material/
polybar/hack/

rofi/applets/
rofi/bin/
rofi/launchers/
rofi/powermenu/
